# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

In [1]:
print("Hello world!")

Hello world!

In [1]:
# Das ist ein Kommentar
print("Hello world!")

Hello world!

## Kommentare

## Einfache Datentypen

In [2]:
# Variablen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [3]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [4]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [5]:
# Bolean - Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [6]:
type(name)

str

In [7]:
name
age

73

In [8]:
print(name)
print(age)

Hawking
73

## Operatoren

In [9]:
5 + 5

10

In [10]:
age * 100

7300

In [11]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [12]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [13]:
name + "10"

'Hawking10'

In [14]:
type(size)

float

In [15]:
type(age)

int

In [16]:
size/age

0.023456164383561642

In [17]:
number_of_articles = "50"

In [18]:
int(number_of_articles) / 10

5.0

In [19]:
type(number_of_articles)

str

In [20]:
# Befehl für jupyter-notebook
%who

age	 is_scientist	 name	 number_of_articles	 size

In [21]:
Ganzzahl = int(zahl)

NameError: name 'zahl' is not defined

## Funktionen und Methode

In [25]:
len(name)

7

In [26]:
name.upper()

'HAWKING'

In [27]:
name

'Hawking'

In [28]:
name = name.upper()
print(name)

HAWKING

In [30]:
name.replace("W", "BLAAA")

'HABLAAAKING'

In [31]:
first_name = "Anna"

In [32]:
first_name.count("A")

1

In [34]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [35]:
names = ["Darwin", "Hawking", "Curie"]

In [36]:
names[1]

'Hawking'

In [37]:
names[0]

'Darwin'

In [38]:
len(names)

3

In [39]:
names[-1]

'Curie'

In [40]:
names[0:2]

['Darwin', 'Hawking']

In [41]:
names[:]

['Darwin', 'Hawking', 'Curie']

In [42]:
slice_value = 2

In [43]:
names[slice_value]

'Curie'

In [44]:
names[:slice_value]

['Darwin', 'Hawking']

In [45]:
names[slice_value:]

['Curie']

In [46]:
names[1:]

['Hawking', 'Curie']

In [51]:
# Dictionary
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 83, 
                    "Loveclace": 37}

In [50]:
authors_and_ages["Darwin"]

73

In [58]:
authors_and_ages = {"Darwin": "dreiundsiebzig", 
                    "Goethe": names, 
                    "Loveclace": 37}

In [53]:
authors_and_ages["Darwin"]

'dreiundsiebzig'

In [54]:
names.append("Kleist")

In [59]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [61]:
authors_and_ages["Rowling"] = 53

In [63]:
authors_and_ages

{'Darwin': 'dreiundsiebzig',
 'Goethe': ['Darwin', 'Hawking', 'Curie', 'Kleist'],
 'Loveclace': 37,
 'Rowling': 53}

## for-Schleife

In [64]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [66]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

## Bedingte Anweisungen (Conditionals)

In [68]:
temp = 10
if temp > 15:
    print("It's warm")

In [73]:
temp = 15
if temp >= 15:
    print("it's warm")
else: 
    print("it's cold")

it's warm

In [74]:
temp = 30
if temp >= 25:
    print("it's hot")
elif temp >= 15: 
    print("it's warm")
else: 
    print("it's cold")

it's hot